#header
{
	background-color:#811;
	color:#fff;
	font-family:'Source Sans Pro',Arial,sans-serif;
}

#navbar {
	background-color:#ddd;
	color:#000;
	width:100%;
}

#navbar div div {
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	text-align:center;
}

#announcements {
	margin-top:5px;
	margin-bottom:5px;
	width:100%;
}

#announcements div {
	width:100%;
	text-align:center;
	letter-spacing:0;
}

#others {
	text-align:center;
	line-height:25px;
	background-color:#ddd;
}

#footer {
	background-color:#811;
	color:#fff;
	text-align:center;
}

#footer div {
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}

.active {
	background-color:#811;
	color:#fff;
}

.pure-u-4-5 h1
{
	margin-bottom:0px;
}